@import "../../app/globals.css";


.select-filter-order-section-container {
    @apply w-fit flex flex-col relative;
}

.select-filter-order-button {
    width: fit-content;
    @apply h-10 px-4 flex items-center justify-center gap-2 border rounded-lg transition-colors
    text-sm font-medium
    hover:cursor-pointer
    border-outline-variant bg-white hover:bg-surface-container;
}

.select-filter-order-button.open {
    @apply rounded-b-none border-b-0;
}

.select-filter-order-button-icon {
    @apply shrink-0 h-3.5;
}

.select-filter-order-button-label {
    @apply max-w-72 truncate;
}

.select-filter-order-options-wrapper {
    box-shadow: 
        -4px 4px 16px rgba(0, 0, 0, 0.08),
        4px 4px 16px rgba(0, 0, 0, 0.08),
        0px 6px 16px rgba(0, 0, 0, 0.08);
    @apply overflow-hidden absolute z-70 top-full right-0 max-h-96
    border rounded-b-lg
    border-outline-variant bg-white w-max;
}

.select-filter-order-options-container {
    @apply overflow-auto max-h-96;
}

.select-filter-order-option {
    @apply px-4 py-2 transition-colors text-sm text-center font-medium cursor-pointer
    hover:bg-surface-container;
}


.select-filter-order-section-container:has(.select-filter-order-button.open) {
    box-shadow: 
        -4px 0px 16px rgba(0, 0, 0, 0.08),
        4px 0px 16px rgba(0, 0, 0, 0.08),
        0px -4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}